samples/tibbw5/samplefile/input/BW_shipping_costs.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by XML Authority. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns:xsd = "http://www.w3.org/2001/XMLSchema">
	<xsd:element name = "shipping_costs">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "destination" maxOccurs = "unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "destination">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "region"/>
				<xsd:element ref = "costs" maxOccurs = "unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "region" type = "xsd:string"/>
	<xsd:element name = "costs">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "max_purchase_price"/>
				<xsd:element ref = "shipping_total"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "max_purchase_price" type = "xsd:integer"/>
	<xsd:element name = "shipping_total" type = "xsd:integer"/>
</xsd:schema>